/*
Colors:
#4b4747 = Gray
#dd5e5e = light red
#7dffd4 = aquamarine
*/



/*
Fonts:
font-family: 'Nunito Sans'
font-family: 'Manrope'
*/

body{
    font-size: 17px;
    font-family: 'Nunito Sans';
    background-color: #4b4747;
    padding: 0 7%;
}


a{
    color: #f5f5f5;
    text-decoration-color: #dd5e5e;
    font-weight: 600;
}

a:hover{
    background-color: #dd5e5e;
    color: #ffffff;
}

@media (max-width: 850px){
    body{
        font-size: .89em;
    }
}

@media (max-width: 450px){
    body{
        font-size: .78em;
    }
}

.intro{
    color:#ffffff;
    font-weight: 600;
    font-size: 1em;
}

p,
.maintext,
.copyright,
.maintexttwo{
    color: #ffffff;
    margin: 0 1%;
    font-weight: 400;
    padding: 2%;
}



.maintext,
.maintexttwo{
    width: 94%;
    margin: 0 auto;
}

.mainphoto{
    margin-bottom: 30%;
}

h2{
    font-size: 17px;
    margin: 3% 0;
    padding: .8%;
}

.headtext{
    color: #ffffff;
    font-weight: 400;

}

.copyright{
    text-align: center;
}

.maintexttwo{
    color: #ffffff;
    font-weight: 400;
    font-style: italic;
}

.copyright,
.maintexttwo{
    padding: 2%;
}

h1{
    font-family: 'Manrope';
    font-size: 3em;
    font-weight: 200;
    color: #ffffff;
    margin: 0 1%
}

b{
    font-weight: 900;
    color: #7dffd4;
    font-size:medium;
}


.subhead{
    background-color: #dd5e5e;
    color: #ffffff;
    display: inline;
    padding: .9%;
    font-weight: 900;
    font-size: medium;
}

.subhead,
h1{
    margin-top: 2.2%;
}



.titletext{
    color: #ffffff;
}

@media (max-width: 992px){
    .header{
        text-align: center;
    }
}

@media (max-width: 850px){
    .header{
        margin: 25% 0 0;
    }

}

@media (max-width: 450px){
    .header{
        margin: 50% 0 0;
    }

}

@media (min-width: 1000px){
    .header{
        margin: 15% 2% 0 0;
    }

}

.section{
    width: 55%;
    margin: 0 auto;
    padding: 5% 0;
}

@media (max-width: 450px){
    .section,
    .footer{
        width: 95%;
    }
}


.graphic{
    padding: 1.2%;
    background: #e9e1e1;
    margin: 0 1%;
    width: 100%;
}

.photo{
    width: 100%;
    margin: 0 auto;
    height: auto;
    border: 1px solid #ffffff
}


.caption{
    font-size: .8em;
    color: #f5eded;
    font-family: 'Nunito Sans';
    font-weight: 300;
    margin: 0 1%
}


@media (max-width: 450px){
    .caption{
        font-size: .9em;
    }
}

main{
    width: 85%;
    margin: 0 auto;
}


