/*
font-family: 'Oswald';
font-family: 'Raleway';
font-family: 'Playfair Display';
*/

body {
    background: #0d5761
}

h1 {
    font-family: 'Oswald';
    color: #ffffff;
    text-align: center;
    font-size: 2.9em
}

nav h2 {
    font-family: 'Raleway';
    text-align: center;
    font-size: 1.4em;
    color: #ffffff
}

a:hover,
.nav-link:hover {
    color: #10d885;
}


a {
    color: #ffffff;
    font-family: 'Raleway';
    font-weight: 400;
}

nav,
footer {
    text-align: center;
    margin: 30px;
    padding-top: 20px;
}

footer {
    font-size: .9em;
    line-height: 1;
}

.nav-link {
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: .9em;
    font-weight: 300;
    padding: 5px;
}

.block {
    text-align: center;
    font-size: 1.2em;
    margin-left: 135px;
}

.block img {
    margin: 20px 0;
}

p, b {
    font-family: 'Oswald';
    margin-top: 15px;
    color: #ffffff;
}

hr {
    color: #ffffff;
}

.img-fluid {
    margin-top: 6px;
}