/*
font-family: 'Barlow Condensed';
font-family: 'Manrope';
font-family: 'Archivo';
*/

/*
Colors:
#f5f5f5 = off-white
#080707 = black
#df4601 = orange
#ffffff = pure white
#d4c9c3 = beige
*/

body{
    font-size: 18px;
    font-family: 'Archivo';
    background-color: #080707;
}

@media (max-width: 850px){
    body{
        font-size: .89em;
    }
}

@media (max-width: 450px){
    body{
        font-size: .78em;
    }
}


p,
h3{
    color: #f5f5f5;
    margin: 0 1%;
}

h1{
    font-family: 'Manrope';
    font-size: 3em;
    font-weight: 800;
    color: #ffffff;
}

/*HEADER SECTION*/

.header{
    height: 100vh;
    font-family: 'Barlow';
    font-weight: 300;
    font-size: .8em;
    letter-spacing: 1.1px;
}

.subhead{
    background-color: #df4601;
    color: #f5f5f5;
    display: inline;
    padding: 1% 2%;
}

.video{
    width: 100%;
}

@media (max-width: 992px){
    .header{
        text-align: center;
    }

    .col-md-8{
        margin: 0 0 5%;
    }
}

@media (max-width: 850px){
    .header{
        margin: 25% 0 0;
    }

}

@media (max-width: 450px){
    .header{
        margin: 50% 0 0;
    }

}

@media (min-width: 1000px){
    .header{
        margin: 15% 2% 0 0;
    }

}

.section{
    width: 65%;
    margin: 0 auto;
    padding: 5% 0;
}

/* SECTION ONE */

.intro{
    letter-spacing: 1.2px;
}

@media (max-width: 450px){
    .section,
    .footer{
        width: 95%;
    }
}

/* GRAPHIC */

.graphic{
    padding: 5%;
    background: #ffffff;
    margin: 0 2%;
}

.img{
    margin: 0 2%;
}


/* SECTION TWO*/

.name{
    text-transform: uppercase;
    color: #df4601;
}

.caption{
    font-size: .8em;
    color: #d4c9c3;
    font-family: 'Barlow Condensed';
}

@media (max-width: 450px){
    img,
    .caption{
        font-size: .9em;
    }
}

/* SECTION THREE*/

h2{
    background: #f5f5f5;
    color: #080707;
    margin: 5% 0 5%;
    text-align: center;
    font-size: 1.5em;
    letter-spacing: 1.3px;
}

h3{
    font-size: 1.1em;
}

.blockquote,
.quote,
.cite{
    font-family: 'Manrope';
    text-align: center;
    padding: 2%;
    background: #df4601;
}

.quote{
    font-size: 1.2em;
    font-weight: 500;
}

.cite{
    font-style: italic;
    font-size: .8em;
}

/* CHART */