/*
font-family: 'Lora';
*/


body {
    background: #178585
}

h1 {
    color: #ffffff;
    text-align: center;
    font-size: 5.5em;
    padding: 1.5%;
    font-family: 'Lora';
}


a:hover,
.nav-link:hover {
    color: #04ffd5;
}

.nav-link,
a{
    font-weight: 600;
    font-size: 1.8em;
    color: #000000;
    font-family: 'Lora';
    
}

.row img{
    padding: 2px;
    max-width: fit-content;
    height: 240px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 2px;
}

.main-text,
p{
    color: #ffffff;
    font-family:'Lora';
    padding: 2%
}

h2{
    text-align: center;
    font-family: 'Lora';
    color:#ffffff;
    font-style: italic;
}

.col-4 img{
    padding: .1%;
    border: 1.7px solid #ffffff;

}

.img-text{
    color: #ffffff;
    font-family: 'Lora';
    text-align: center;
    font-style:normal;
}


.card{
    background-color: #ffffff; 
    border-color: #000000;  
    border-width: .00000001em;
}


h5{
    font-size: 20pt;
    font-weight:500;
    font-style: italic;
    color: #000000;
    font-family: 'Lora';
}

/*Article Title*/

.card-text,
p{
    color: #000000;
    font-family: 'Lora';
    font-weight: 600;
    font-size: 14pt;
}

/*By Matthew Shea*/

.card-body{
    margin: 2pt;
    background-color: #ffffff;
    border-color: #000000;
}


/*btn is button control*/
.btn-primary{
    background-color: #23a1a1;
    border-color: #000000;
    color: #ffffff;
    font-family:'Lora';
    font-weight: 500;
}

.btn-primary:hover{
    color: #ffffff;
    background-color: #a31b1b;
    border-color: #000000;
}

.card-img-top{
    border-color: #000000;
}

.row{
    text-align: center;
}





/*
.img-fluid{
    margin: 25px;

}

.div img {
    margin: 20px;
    size: 25px;
}
*/