/*
font-family: 'Lora';
*/


body {
    background: #178585
}

/* Matthew Shea Top*/
h1 {
    color: #ffffff;
    text-align: center;
    font-size: 5.5em;
    padding: 1.5%;
    font-family: 'Lora';
}

hr{
    color: #ffffff;
}

/*Nav Bar Control*/
a:hover,
.nav-link:hover {
    color: #04ffd5;
}

.home-nav-text
a{
    font-weight: 600;
    font-size: 1.8em;
    color: #000000;
    font-family: 'Lora';
    
}


/*Main Profile Image*/
.row img{
    padding: 2px;
    max-width: fit-content;
    height: 240px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
   
}


/*Home Page Main Text*/
.home-text{
    color: #ffffff;
    font-family:'Lora';
    padding: 2%;
    font-weight: 400;
}

/*Section Headers*/
h2{
    text-align: center;
    font-family: 'Lora';
    color:#ffffff;
    font-style: italic;
}

.card{
    background-color: #ffffff; 
    border-color: #000000;  
    text-align: center;
}


h5{
    font-size: 20pt;
    font-weight:500;
    font-style: italic;
    color: #000000;
    font-family: 'Lora';
}

/*Article Title*/

.card-text,
p{
    color: #000000;
    font-family: 'Lora';
    font-weight: 600;
    font-size: 14pt;
}

/*By Matthew Shea*/

.card-body{
    background-color: #ffffff;
    border-color: #000000;
}


/*btn is button control*/
.btn-primary{
    background-color: #23a1a1;
    border-color: #000000;
    color: #ffffff;
    font-family:'Lora';
    font-weight: 500;
}

.btn-primary:hover{
    color: #ffffff;
    background-color: #a31b1b;
    border-color: #000000;
}

.row,
.col-md-4{
    text-align: center;
}

.col-md-4{
    padding: 1%;
}

.col-md-4,
img{
    padding: 1%;
    text-align: center;

}


/*Card Image*/
.card,
.card-img-top{
    padding: .5%;
    height: fit-content;
    width: fit-content;

}

/*ABOUT SECTION*/
.about-nav{
    font-size: 10pt;
    padding: 1%;
}

/*ABOUT*/
.about-head-text{
    font-style: normal;
    font-size: 100pt;
    padding: 1%;
}

/*Text next to pic*/
.about-top-text{
    color: #ffffff;
    font-family: 'Lora';
    font-weight: 400;
    margin-right: auto;
    margin-top: 13pt;
    margin-left: auto;
    padding: 5%;
}

.about-nav-text
a{
    color: #bfcff1;
    font-family: 'Lora';
    font-weight: 300;
    font-size: 15pt;
    border: #000000; border-width: 4pt;
    float: right;
}

.about-img{
    float: left;
    margin-left: 50pt;
    padding: 2%;
}

.about-hr{
    color: #c0bfbf;
    margin-left: 50pt;
    margin-right: 50pt;
}

/*
.img-fluid{
    margin: 25px;

}

.div img {
    margin: 20px;
    size: 25px;
}
*/