/*
Fonts: 
font-family: 'Koulen'
font-family: 'Montserrat'

*/

/*
Colors: 
#ffff = white
#635f5f = gray
#ff7f50 = orange (coral)

*/


body{
    color: #ffff;
    background-color: #635f5f;
    font-size: 15px;
}

header{
    padding: 2%
}

/*NAV BAR*/

.navigation{
    font-family: 'Koulen';
    font-size: 1.5em;
    text-align: center;
}

/*CHANGE BELOW TO A:HOVER WHEN INSERT LINKS*/

.navigation:hover{
    color:#ff7f50
}



/*MEDIA QUERY*/

@media (max-width: 450px){
    h1{
        font-size: 2em;
    }

    header{
        padding: 10% 0;
    }

    .graphic,
    section,
    footer{
        width: 100%;
    }

    .caption{
        font-size: .9em;
        margin: 1% 0 0 0;
    }
}

@media (min-width: 990px){
    header{
        width: 1200px;
        text-align: left;
    }
}

@media (min-width: 800px){
    header{
        width: 100%;
    }
}